body {
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    width: 90%;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* navber */

/* Default: mobile navbar hide */
.mobile-navbar .mobile-nav {
    display: none;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #49494b;
}

.hamburger:hover {
    color: chartreuse;
}


.mobile-logo {
    font-weight: 500;
    font-size: 2rem;
    color: #FFFFFF;
}

.mobile-logo span {
    color: #ff3cbe;
}

.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #49494b;
    padding: 0 120px;
}

.navber .logo {
    font-weight: 700;
    font-size: 3.2rem;
    color: #FFFFFF;
    margin: 0 20px;
}

.navber .logo span {
    color: #ff3cbe;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-menu a {
    color: #cfcfcf;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

.nav-menu a:hover {
    color: white;
}

.btn-primary {
    background: linear-gradient(90deg, rgb(206, 206, 70), #ff3cbe, #7a3cff);
    border: none;
    padding: 12px 16px;
    border-radius: 20px;
    height: 2.7rem;
    width: 8.4rem;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary,
.btn-primary-hero1:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(122, 60, 255, 0.7);
}

/* hero-section */
.banner-section {
    background: url('./assets/hero-bg.png') no-repeat center center/cover;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px 10px;
    margin-top: 80px;

}

.hero-img {
    height: 300px;
    width: 300px;
    background: url('./assets/hero-circle.png') no-repeat center/contain;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-icon {
    width: 100px;
}

.live-badge {
    position: absolute;
    top: 10px;
    right: 50px;
    background: #00ff88;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.5);
}

.hero-text {
    text-align: center;

}

.hero-text h1 {
    font-weight: 700;
    font-size: 3.5rem;
    color: white;

}

.hero-text p {
    font-weight: 300;
    font-size: 1rem;
    color: white;
    margin-bottom: 24px;
}

.btn-primary-hero1 {
    background: linear-gradient(90deg, rgb(206, 206, 70), #ff3cbe, #7a3cff);
    border: none;
    padding: 12px 16px;
    border-radius: 20px;
    height: 2.75rem;
    width: 12rem;
    gap: 10px;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

}

.hero-actions {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn-subscribe {
    border: 1px solid #00ff88;
    color: #00ff88;
    padding: 8px 12px;
    border-radius: 20px;
    height: 2.75rem;
    width: 10.15em;
    background-color: #1A0B2E;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}







/* Responsive for Mobile */

@media screen and (max-width:576px) {

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        padding: 0 auto;
    }

    .navber {
        flex-direction: column;
        gap: 15px;
    }

    .nav-menu {
        gap: 20px
    }

    .btn-primary {
        margin-bottom: 20px;
    }

    /* heo section */
    .banner-section {
        min-height: 30vh;
        padding: 30px 15px;
    }

    .hero-img {
        height: 200px;
        width: 200px;
        margin-bottom: 50px;
    }

    .mic-icon {
        width: 60px;
    }

    .live-badge {
        font-size: 0.8rem;
        right: 20px;
        top: 5px;
    }


}


/* Rsponsive for Desktop */
@media screen and (min-width:577px) and (max-width:1440px) {
    .mobile-navbar {
        display: none;
    }
}