body {
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    width: 90%;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* navber */

/* Default: mobile navbar hide */
.mobile-navbar .mobile-nav {
    display: none;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #49494b;
}

.hamburger:hover {
    color: chartreuse;
}


.mobile-logo {
    font-weight: 500;
    font-size: 2rem;
    color: #FFFFFF;
}

.mobile-logo span {
    color: #ff3cbe;
}

.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #49494b;
  justify-items: center;
  padding: 5px 120px;
}

.navber .logo {
    font-weight: 700;
    font-size: 3.2rem;
    color: #FFFFFF;
    margin: 0 auto;
}

.navber .logo span {
    color: #ff3cbe;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 32px;

}

.nav-menu a {
    color: #cfcfcf;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

.nav-menu a:hover {
    color: white;
}

.btn-primary {
    background: linear-gradient(90deg, rgb(206, 206, 70), #ff3cbe, #7a3cff);
    border: none;
    padding: 12px 16px;
    border-radius: 20px;
    height: 2.7rem;
    width: 8.4rem;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 50px;
}

.btn-primary:hover,
.btn-primary-hero1:hover,
.btn-subscribe:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(122, 60, 255, 0.7);
}

/* hero-section */

.hero-container {
    background: url('./assets/hero-bg.png') no-repeat center center/cover;
   align-content: center;
 
}
.banner-section {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px 10px;
    margin-top: 80px;

}

.hero-img {
    height: 300px;
    width: 300px;
    background: url('./assets/hero-circle.png') no-repeat center/contain;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-icon {
    width: 100px;
}

.small-badge {
    position: absolute;
    top: 10px;
    right: 50px;
    background: #00ff88;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.5);
}

.hero-text {
    text-align: center;

}

.hero-text h1 {
    font-weight: 700;
    font-size: 3.5rem;
    color: white;
    margin: 0 auto;

}

.hero-text p {
    font-weight: 300;
    font-size: 1rem;
    color: white;
    margin-bottom: 24px;
    margin: 0 auto;
}

.btn-primary-hero1 {
    background: linear-gradient(90deg, rgb(206, 206, 70), #ff3cbe, #7a3cff);
    border: none;
    padding: 12px 16px;
    border-radius: 20px;
    height: 2.75rem;
    width: 12rem;
    gap: 10px;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

}

.hero-actions {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn-subscribe {
    border: 1px solid #00ff88;
    color: #00ff88;
    padding: 8px 12px;
    border-radius: 20px;
    height: 2.75rem;
    width: 10.15em;
    background-color: #1A0B2E;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* About Section */
.about-section {
    text-align: center;
    margin-top: 150px;
    background-color: #1A0B2E;
}
/* .about-container{
    margin-bottom: 80px;
    border-bottom: 1px solid #49494b;
} */

.about-container h2 {
    font-weight: 600;
    font-size: 2.8rem;
    color: white;
    margin: 0 auto;
}

.about-container p {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.8;
    color: white;
    padding: 0 200px;
}

.about-content {
    margin-bottom: 30px;
}

.about-subcriber {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: 0 auto;
    max-width: 70vw;
}

.subcriber-content h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #00FF88;
    margin: 0 auto;
}

.subcriber-content p {
    font-weight: 300;
    font-size: 0.8rem;
    color: white;
}

.about-line{
    border-bottom: 1px solid #49494b;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* why-chose-section */
.why-chose-section{
    margin-top: 120px;
    background-color: #230E3D;
    padding: 50px 120px; 
}

.why-chose-section h2, .Meet-Host h2
{
    font-weight: 600;
    font-size: 2.8rem;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     gap: 20px;
     grid-template-areas: 
        "audio mobile mobile"
        "audio global global"
        "interview interview resources";
        margin-bottom: 50px;

}

.audio { grid-area: audio; }
.mobile { grid-area: mobile; }
.global { grid-area: global; }
.interview { grid-area: interview; }
.resources { grid-area: resources; }

.card-container{
    background-color: #351165;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 20px;
    border: 1px solid #3d2b5e;
    justify-items: center;
}

.card-container img{
    height: 30px;
    margin: 0 auto;
}
.card-container h3 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin: 5px auto;
}

.card-container, .card-text p{
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.6;
    color: rgb(212, 207, 207);
}

/* Featured-Episodes */
.Featured-Section{
    margin-top: 50px;
    margin-bottom: 100px;
}
.Featured-Episodes{
    background-color: #1A0B2E;
    color: white;
}

.featured-container h2 {
    font-weight: 600;
    font-size: 2.8rem;
    color: white;
    margin-bottom: 50px;
    margin-top: 70px;
    text-align: center;
}

.episodes-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding-left: 80px;
    padding-right: 80px;
}


.Featured-content{
    background-color: #250D44;
    border-radius: 20px;
    text-align: left;
    flex-direction: column;
    gap: 20px;
}
.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: #000; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-text {
    padding:24px;
    margin: 0 auto;

}
.card-text h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 auto;

}
.time-info{
    display: flex;
    gap: 10px;
}

.time-info span{
    color: hsla(152, 100%, 50%, 0.842);
    font-size: 1rem;
    font-weight: 300;
}

/* meet-container */

.Meet-Host{
    margin-bottom: 120px; 
}
.meet-container{
    background-color: #29104b;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #29104b;
    margin: 0 auto;
}

.meet-content h3{
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    margin: 5px auto;
}

.meet-content p{
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.6;
    color: rgb(212, 207, 207);
    margin-top: 30px;
    margin-bottom: 20px;
}

.social-link{
 display: flex;
 gap: 20px;
 align-items: center;
 margin: 0 auto;

}
.social-link img{
    width: 24px;          
    height: 24px;
    padding: 10px;            
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 50%;       
    cursor: pointer;
    transition: all 0.3s ease;
   
}
/* Fotter */
.fotter{
    background: url('./assets/footer-bg.png') no-repeat center/cover ;
    border: none;
    position: relative;
    height: 100px;
    padding: 80px;
    display: grid;
    justify-items: center;
    align-content: center;
}

.fotter-section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fotter-section h2{
    font-weight: 600;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin: 0 auto;
}

.fotter-section span {
    color: #ff3cbe;
}
.fotter-icon{
    justify-content: center;
    align-items: center;
}

.fotter-icon .social-icon{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.social-icon a{
  font-weight: 300;
    font-size: 0.6rem;
    color: #FFFFFF;
    margin: 0 auto;
    text-decoration: none;
}

.fotter-text{
    font-weight: 400;
    font-size: 0.6rem;
    color: #FFFFFF;
    margin: 0 auto;
}



/* Responsive for Mobile */

@media screen and (max-width:576px) {

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        padding: 0 auto;
    }

    .navber {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .nav-menu {
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .btn-primary {
        margin-bottom: 20px;
    }

    .banner-section {
        flex-direction: column; 
        align-items: center;    
        text-align: center;
        margin-top: 40px;      
    }


    .hero-img {
        width: 250px;    
        height: 250px;
        margin-right: 0;        
    }


    .hero-actions {
        flex-direction: column;
    }

    .mic-icon {
        width: 80px;
    }

    .small-badge {
        right: 20px;            
        font-size: 0.8rem;
    }

    .hero-text h1 {
        font-size: 2.2rem;    
        line-height: 1.2;
        margin-top: 20px;
    }

    .hero-text p {
        font-size: 0.9rem;
        padding: 0 10px;       
    }

    .live-badge {
        font-size: 0.8rem;
        right: 20px;
        top: 5px;
    }

    .small-badge{
        top: 20px;
        right: 10px;
    }

    /* about section */
    .about-section {
        margin-top: 80px;
    }

    .about-container h2 {
        width: 60vw;
        font-weight: 500;
        font-size: 2rem;
    }

    .about-container p {
        padding: 0 50px;
        margin: 30px;
        text-align: center;
    }

    .about-subcriber {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .about-subcriber {
        width: 120px;
    }
    /* card-section */
    .card-section{
        grid-template-columns: 1fr;
       grid-template-areas: none;
       padding: 10px;
       /* width: 50vw; */
        gap: 15px;
        align-items: center;
        justify-items: center;
    }

    .why-chose-section{
        align-items: center;
        justify-items: center;
        padding: 0 70px;
    }
    .audio, .mobile, .global, .interview, .resources {
        grid-area: auto; 
    }
    .why-chose-section h2{
        font-weight: 500;
        font-size: 2rem;
        margin: 10px auto;
}

/* episodes-container */

.episodes-container{
    grid-template-columns:1fr;
}
.Featured-Episodes h2{
    font-weight: 600;
    font-size: 2rem;
}
.video-wrapper{
    width: 100%;
}
.card-text h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
/* Meet-Host */
.Meet-Host h2{
    font-size: 2rem;
    font-weight: 500;
}
.meet-container{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
/* Fotter */
.fotter {
    min-height: 30vh;
    padding: 10px 5px;
}

.social-link{
 justify-content: center;
    align-items: center;
}
.social-icon a{
    gap: 5px;;
    align-items: center;
    margin-right: 10px;
   
}

.social-icon{
 margin-right: 25px;
}
.fotter-section h2{
    font-weight: 500;
    font-size: 2rem;
    margin: 0 auto;
}
.fotter-icon .social-icon{
grid-template-columns: repeat(4,1fr);
gap: 5px;
justify-items: center;

}
}




/* Rsponsive for Desktop */

@media screen and (min-width: 576px) and (max-width: 1440px){
    .mobile-navbar {
        display: none;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .card-section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
         gap: 20px;
         grid-template-areas: 
            "audio mobile mobile"
            "audio global global"
            "interview interview resources";
            margin-bottom: 50px;
    }
    
    .audio { grid-area: audio; }
    .mobile { grid-area: mobile; }
    .global { grid-area: global; }
    .interview { grid-area: interview; }
    .resources { grid-area: resources; }
    /* .card-section {
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: none; 
    } */
    .audio, .mobile, .global, .interview, .resources {
        grid-area: auto; 
    }

}